* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

canvas {
  display: block;
  margin: 0 auto;
  background-image: url("./assets/Flappy Bird/background-day.png");
  background-size: cover;
  background-position-y: -60px;
}
