main .wrap-content {
  background: linear-gradient(
    to bottom,
    rgba(100, 100, 100, 0.7),
    rgba(0, 0, 0, 0)
  );
}

.wrap-content {
  min-height: 670px;
}

.column {
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 2.5em 0;
}

.input {
  display: flex;
  flex-direction: column;
  min-height: 1em;
}

input,
textarea {
  border: 2px solid var(--font-color);
  width: 100%;
  padding: 0.5em;
}

textarea {
  resize: none;
}

form button {
  width: 7em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.6em 0.8em;
  transition: color 1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--bg-color);
}

form button[type="button"] {
  border: 2px solid var(--sec-font-color);
  color: var(--sec-font-color);
}

form button[type="submit"] {
  border: 2px solid var(--green);
  color: var(--green);
}

form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  transition: transform 0.5s;
  z-index: -1;
  transform: translateX(-100%);
  transform-origin: center;
}

form button[type="button"]::before {
  background-color: var(--sec-font-color);
}

form button[type="submit"]::before {
  background-color: var(--green);
}

form button:hover::before {
  transform: translateX(0);
  transform-origin: center;
}

form button:hover {
  color: var(--font-color);
}

.wrap-buttons {
  display: flex;
  justify-content: space-around;
}

.form-error {
  color: var(--sec-font-color);
}

@media (max-width: 992px) {
  .wrap-content {
    min-height: 900px;
  }

  form {
    justify-content: space-between;
    width: 100%;
    flex: 1;
  }

  .form-text {
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}
