.wrap-content {
  min-height: 800px;
}

main .wrap-content {
  background-color: var(--bg-color2);
}

.column {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.column h1 {
  color: var(--sec-font-color);
}

.guess-list {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

.guess-row {
  display: flex;
  flex-direction: row;
  gap: 0.125em;
}

.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color);
  width: 50px;
  height: 50px;
  color: white;
  border: 3px solid black;
  transition: background-color 1s;
}

.err {
  min-height: 1.5em;
  color: transparent;
  transition: color 0.5s;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

.key-row {
  display: flex;
  flex-direction: row;
  gap: 0.125em;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color);
  width: 30px;
  padding: 0 0.75em;
  height: 50px;
  color: white;
  border: 3px solid black;
  border-radius: 3px;
  transition: background-color 1s;
}

.modifier {
  min-width: fit-content;
}

.reset {
  width: 7em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.6em 0.8em;
  transition: color 1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--bg-color);
  border: 2px solid var(--sec-font-color);
  color: var(--sec-font-color);
}

.reset:hover {
  color: var(--font-color);
}

.reset::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 101%;
  height: 121%;

  transition: transform 0.5s;
  z-index: -1;
  transform: translateX(-100%);
  background-color: var(--sec-font-color);
}

.reset:hover::before {
  transform: translateX(0);
}

@media (max-width: 992px) {
  .wrap-content {
    min-height: 800px;
  }

  .err {
    text-align: center;
    max-height: 1em;
  }

  .key {
    width: 25px;
    padding: 0.25em;
  }
}

@media (max-width: 442px) {
  .key {
    padding: 0 0.1em;
  }
}
